@tailwind base;
@tailwind components;
@tailwind utilities;


.marque-header {
    background-color: #f8f9fa;
    padding: 2rem;
    margin-bottom: 2rem;
    border-radius: .3rem;
}

.product-card {
    transition: transform .2s;
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0,0,0,.1);
}